<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'utf-8'>
        <title>Maintenence</title>
    </head>
       <body>
    {{> header}}
 
        <h1>The site is being updated</h1>
        <p> {{maintenence}}</p>
    
    {{> footer}}
    </body>
 
</html>